#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width: 920px) {
  #root {
    padding: 0px;
    width: auto;
  }
  body {
    margin: 0px;
  }
}
